django
djangorestframework
psycopg2
psycopg2-binary
djangorestframework
djangorestframework_simplejwt
django-axes
django-two-factor-auth
django-otp-yubikey 
cryptography
django-phonenumbers
django-allauth
dj-rest-auth
